<!-- Create button that will submit user input into the database -->

<h1>Burgers!</h1>
<img src="assets\img\transparentburger.png" width="300" height="300" alt="Burger">
<h2>Burgers that have not been devoured!</h2>

<ul>
{{#each burgers}}
<!-- 'unless' is similar to 'if' -->
{{#unless devoured}}
<li>
  {{burger_name}}

  <button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
    {{#unless devoured}}Devour{{/unless}}
  </button>
</li>
{{/unless}}
{{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  <li>
    {{burger_name}}
  </li>
  {{/if}}
  {{/each}}
</ul>

<h2>Add your own Burger!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="cb">Name of Burger:</label>
    <input type="text" id="cb" name="burger_name">
  </div>


  <button type="submit">Add Burger!</button>
</form>